/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #424242;
    color: #dcdcdc;
    height: 100%;
    width: 100%;

}

nav {
    padding: 30px 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #424242;
    position: relative;
    height: 0px;
}

nav img {
    float: left;
    height: 30px;
    margin-top: 10px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #4CAF50;
}

.menu-icon {
    display: none; /* default hidden */
}

.menu-icon i {
    color: #4CAF50;
    font-size: 30px;
    display: none; /* default hidden */
}




/* Carousel Styles */
.carousel {
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.carousel .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}

.carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list .item .content {
    position: absolute;
    top: 10%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 50%;
    box-sizing: border-box;
    color: #00ff59;
    text-shadow: 3px 5px 10px #0004;
    -webkit-text-stroke: 0.2px #c70000;;

}

.carousel .list .item .author {
    font-weight: bold;
    letter-spacing: 10px;
}

.carousel .list .item .title,
.carousel .list .item .topic {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.3em;
}

.carousel .list .item .topic {
    color: #f1683a;
}



/* Thumbnail Styles */
.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.thumbnail .item .content {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title {
    font-weight: 500;
}

.thumbnail .item .content .description {
    font-weight: 300;
}

/* Arrow Styles */
.arrows {
    position: absolute;
    top: 90%;
    right: 60%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}

.arrows button:hover {
    background-color: #fff;
    color: #000;
}

/* Animation Styles */
.carousel .list .item:nth-child(1) {
    z-index: 1;
}

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.carousel .list .item:nth-child(1) .content .title {
    animation-delay: 1.2s!important;
}

.carousel .list .item:nth-child(1) .content .topic {
    animation-delay: 1.4s!important;
}

.carousel .list .item:nth-child(1) .content .des {
    animation-delay: 1.6s!important;
}

.carousel .list .item:nth-child(1) .content .buttons {
    animation-delay: 1.8s!important;
}

.carousel.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

.carousel.prev .list .item img {
    z-index: 100;
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}

.carousel.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

.carousel .time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time {
    animation: runningTime 3s linear 1 forwards;
}

@keyframes runningTime {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.carousel.prev .list .item:nth-child(2) {
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}



@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
    pointer-events: none;
}

.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons {
    animation: hideContent .3s linear 1 forwards;
}

@keyframes hideContent {
    to {
        transform: translateY(50px);
        filter: blur(20px);
        opacity: 0;
    }
}

/* Footer Styles */
footer {
    background: #424242;
    padding: 10px;
    color: #b0b0b0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.link-sosial {
    display: flex;
    gap: 10px;
}

.link-sosial a {
    color: #4CAF50;
    font-size: 1.5em;
    text-decoration: none;
}

.link-sosial a:hover {
    color: #dcdcdc;
}
@media (max-width: 600px) {


    nav ul {
        position: relative;
        top: 100px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #424242;
        gap: 0;
        overflow: auto;
    }

    nav ul li {
        padding: 10px;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon i {
        display: block;
    }

    #nav {
        transition: padding 0.5s ease-out;
    }
    #menulist {
        transition: maxheight 0.5s ease-out;
    }
}
@media (max-width: 600px) {
    .carousel .list .item .content {
        position: absolute;
        top: 5%;
        width: 1140px;
        max-width: 80%;
        left: 50%;
        transform: translateX(-50%);
        padding-right: 45%;
        box-sizing: border-box;

    }
}.arrows img {
    width: 150px; /* Sesuaikan lebar dengan preferensi Anda */
    height: 150px; /* Sesuaikan tinggi dengan preferensi Anda */
    position: absolute;
    top: -550px; /* Sesuaikan jarak vertikal dengan tombol panah */
    left: 250%; /* Menempatkan foto di tengah secara horizontal */
    transform: translateX(-50%);
    border-radius: 50%; /* Membuat foto menjadi lingkaran */
    border: 2px solid #fff; /* Menambahkan border putih */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Menambahkan bayangan */
    z-index: 100; /* Membuat foto tetap di atas tombol panah */
}
@media (max-width: 600px){.arrows img {
    width: 150px; /* Sesuaikan lebar dengan preferensi Anda */
    height: 150px; /* Sesuaikan tinggi dengan preferensi Anda */
    position: absolute;
    bottom: 350px; /* Sesuaikan jarak vertikal dengan tombol panah */
    left: 210%; /* Menempatkan foto di tengah secara horizontal */
    transform: translateX(-50%);
    border-radius: 50%; /* Membuat foto menjadi lingkaran */
    border: 2px solid #fff; /* Menambahkan border putih */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Menambahkan bayangan */
    z-index: 100; /* Membuat foto tetap di atas tombol panah */
    }
}